/*
Layout & content 
Header
Footer
Banner
Page
Breadcrumb
RWD class
*/

/*Layout & content */

.post {
	margin-bottom: 30px;
}

.post-container {
	background-color: #fff;
	padding: 20px 10px;
}

.post-footer {
	margin-top: 20px;
	padding-top: 20px;
	text-align: right;
}

.related-post .widget-header .title{
	border-bottom: none;
}

/*Header*/

.site-header {
	padding: 20px 0;
	margin-bottom: 30px;
	border-top: 5px solid #2a5d8c;
	border-bottom: 1px solid #eee;
	background-color: #fff
}

.fixed-top {
	position: fixed;
	padding:5px 0;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-transition: padding .4s linear;
	-moz-transition: padding .4s linear;
	-ms-transition: padding .4s linear;
	-o-transition: padding .4s linear;
	transition: padding .4s linear;
	
}

.fixed-top .site-logo {
	font-size: 16px;
	margin-top: 5px;
	width:65%;
}

.nav-topbar {
	background-color: #2a5d8c;
	padding: 0;
}

.nav-topbar a,
.nav-topbar {
	color: #999
}

.site-logo {
	margin: 0;
	padding: 0;
	display: inline-block;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
	width:100%;
}

/*Footer*/

.site-footer {
	background-color: #2a5d8c;
	line-height: 30px;
	color: white;
	padding: 5px 0;
}

.site-bottom {
	border-top: 1px solid #eee ;
	margin-top: 50px;
}

.footer-widget .list li {
	border-bottom: none;
	font-size: 12px;
	padding: 5px 0;
}

.copyright {
	text-transform: uppercase;
}

.site-footer {
	font-size: 12px;
	text-align: left;
}

.footer-link .menu {
	float: right;
}

.footer-link .menu li a {
	color: #666;
	padding: 0 20px;
	font-weight: normal;
}

/*Banner*/

.banner-view {
	text-align: center;
	background-color: transparent;
}

.banner img,
.banner-view img {
	width: auto;
	margin: 0 auto;
	display: block;
}

/*Page*/

.page-header {
	margin-top: 0;
	margin-bottom: 10px;
	background-color: #fff;
}

.page-header .title {
	margin: 0;
	text-transform: none;
}

/*Breadcrumb*/

.breadcrumb {
	margin-bottom: 0;
	font-size: 11px;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


@media screen and (max-width: 992px) {
	body {
		overflow-x:hidden;
	}
	.site-footer {
		text-align: center;
	}
	.footer-link .menu {
		float: none;
	}
	.site-header .site-logo {
		font-size: 16px;
		margin-top: 10px;
		width:70%;
	}
	.nav-topbar {
		display: none;
	}
	.page-meta {
		border-left: none;
		margin-top: -10px;
	}
}

@media screen and (max-width: 750px) {
	.main-view > .row{
		margin-top: 80px;
	}
	.site-header {
		position: fixed;
		padding:5px 0;
		-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		-webkit-transition: padding .4s linear;
		-moz-transition: padding .4s linear;
		-ms-transition: padding .4s linear;
		-o-transition: padding .4s linear;
		transition: padding .4s linear;
	}
	.collapse-topbar {
		display: none
	}

}