
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,900,700italic,700,400italic);

@import url(modules/wordpress.css);
@import url(modules/slider.css);
@import url(modules/panel.css);
@import url(modules/form.css);
@import url(modules/media.css);
@import url(modules/bar-view.css);

@import url(layouts/card.css);
@import url(layouts/news.css);

body {
    font-size: 13px;
    line-height: 1.5;
    font-family: 'Microsoft JhengHei', sans-serif;
    color: #444;
    background-color: #676767;
}

img {
	max-width: 100%;
	width: 100%;
}

a {
	color: #2a5d8c;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

a:focus ,
a:hover {
	text-decoration: none;
	color: #2a5d99;
	outline:none;
}

*:focus {
	outline: none
}

strong {
	color: #000;
}

blockquote {
	position: relative;
	border-left: none;
	padding:1em;
}

blockquote p {
	font-weight: 700;
	color: #888;
}

blockquote:after{
	content: '}';
	font-family: 'Playfair Display SC', serif;
	font-size: 60px;
	color: #eee;
	position: absolute;
	right: -10px;
	top: 0;
}

.col-inner {
	padding:10px;
}

.inner {
	padding: 20px;
}

.margin-top-10 { margin-top: 10px }
.margin-top-20 { margin-top: 20px }
.margin-top-30 { margin-top: 30px }
.margin-top-40 { margin-top: 40px }

.margin-bottom-10 { margin-bottom: 10px }
.margin-bottom-20 { margin-bottom: 20px }
.margin-bottom-30 { margin-bottom: 30px }
.margin-bottom-40 { margin-bottom: 40px }

.small { font-size: 10px }

.red  { color: #CB1B45 !important}
.blue { color: #58B2DC !important}

/*search*/
.input-append {
	position: relative;
}
.form-search {
    margin:0;
    padding: 5px 10px;
}

.form-search .search-query {
    margin-bottom: 0;
    background: white;
	border: none;
	padding: 0 25px 0 5px;
}

.form-search button {
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: -3px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    color: #999
}

.form-search button:hover {
	color: white;
}

.search-query:focus + button {
    z-index: 3;   
}


/*menu*/

.menu ul,
.menu {
	margin: 0;
	padding: 0;
}

#main-menu {
	float: right;
}

.menu li {
	display: inline-block;
	position: relative;
}

.menu li a {
	padding: 10px 20px;
	font-weight: 900;
	text-transform: uppercase;
	display: block;
	color: white;
	font-size: larger;
}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus,
.nav>li>a:hover, 
.nav>li>a:focus{
	background: none;
	color: #81415C
}

.sub-menu {
	max-width: 450px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #51A8DD;
	background-color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.sub-menu li a:first-letter {
	text-transform: uppercase;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #51A8DD;
	text-decoration: none;
	background-color: transparent;
}

.social-icon-list {
	float: right;
}

.nav-topbar li a{
	padding: 5px 10px;
	font-weight: normal;
	color: white;
}

.nav-topbar li a:hover {
	color: #eee
}

.top-link {
	font-size: 10px;
	padding-top: 3px;
}

.icon-bar {
	height: 1px;
	background-color: white;
	margin: 3px 0;
	width: 50px;
}



/*List*/

.list {
	margin: 0;
	padding: 0;
}

.list li {
	list-style-type: none;
	border-bottom: 1px dotted #C5C5C5;
}

.list li:last-child {
	border-bottom:none;
}


.list-view {
	margin-top: 10px
}

.list-view li {
	padding: 10px 0;
}

.list-item {
	margin-bottom: 20px;
}

.post-view .list li {
	padding: 10px 0;
}

/*Pagination*/

.pagination {
	margin: 0;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
}

.pagination>li>a, 
.pagination>li>span {
	border-color: transparent;
	padding: 0 6px;
	margin: 0 1px;
	font-size: 12px;
}

.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
	background-color: transparent;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: #000;
	border-color: transparent;
}

.pagination > li:first-child {
	float: left;
	font-weight: 400;
	margin-right: 10px
}

/*content*/

.title {
	font-family: 'Microsoft JhengHei', sans-serif;
	font-weight: 400;
	color:#000;	
	line-height: 1.2;
	text-transform: uppercase;
	position: relative;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #eee;
}

.page-header.huge .title{
	font-size: 50px;
	letter-spacing: 1px;
	font-weight: 100;
}

.page-header .title:first-letter {
	text-transform: uppercase;
}

.sub-title {
	font-style: italic;
}

.title-icon {
	width: 20px;
	display: inline-block;
}

.meta {
	font-size: 12px;
	padding: 2px 10px 2px 0;
	color: #555;
	font-weight: 100;
}

.meta i.fa {
	width: 16px;
}

.meta-wrapper {
	margin-bottom: 10px;
	padding-left: 0;
}

.tag {
	display: inline-block;
	margin: 2px 4px 4px 0;
	padding: 2px 8px;
	color: #fff;
	font-weight: 100;
	background-color: #C5C5C5;
}

.tag:hover {
	background-color: #000;
	color: #fff;
}

.page-meta .meta i.fa {	
	margin-right: 3px;
}

.share-view a {
	color: #eee;
	margin: 0 5px;
	font-size: 20px;
	display: inline-block;
}

.share-view a:hover {
	color: #ccc;
}

.page-title .title + .meta-wrapper {
	margin-top: 10px;
	padding-top: 10px;
}

.page-footer {
	margin-top: 20px;
}

/*comment*/

#reply-view{
	padding-bottom: 20px;
}

.comment .avatar {
	width: 32px;
}

.comment .list {
	padding: 0 20px;
}

.comment .time-ago {
	margin-left: 1em;
}

.comment-item-footer {
	font-size: 10px;
	margin-top: -5px;
}

.post-view .comment-item-footer li {
	border-bottom: none;
	padding: 0 10px 0 0;
	position: relative;
}

.post-view .comment-item-footer li:after {
	content: ".";
	position: absolute;
	right: 3px;
	top: -3px;
	color: #ccc;
}

.post-view .comment-item-footer li:last-child::after{
	content: "";
}

.post-view .comment-item-footer li a {
	color: #ccc;
}

.post-view .comment-item-footer li a:hover {
	color: #000;
}

.media{
	padding-bottom: 10px;
}

.post-view .comment .media {
	margin-top: 0px;
	padding: 15px 0;
}

#comment-message {
	width: 100%;
}
.card-post-format .widget-content .col-inner{
	text-align: center;
}

.news-post-format .widget-header{
	margin-bottom: 15px;
}
/*button*/

.btn {
	padding: 5px 12px;
	font-size: 12px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: #eee;
	color: #686868;
	position: relative;
	display: inline-block;
	font-weight: bolder;
}

.btn-left-icon i {
	border-right: 1px solid rgba(33,33,33,.1);
	padding-right: 1em;
	margin-right: 12px;
	display: inline-block;
}

.btn:hover {
	background-color: #51A8DD;
	color: #fff;
}

.btn-link {
	background-color: transparent;
	padding: 3px 0;
	color: #c93164
}

.btn-link:hover {
	color: #111;
	background-color: transparent;
}

.load-more .btn {
	display: block;
}

.nav-topbar .download-btn a{
	background: #EB1B52;
	color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 988px){
	#main-menu {
	}
	.menu li a {
		padding: 10px 15px;
		font-size: 12px;
	}
	.site-header .site-logo {
		
		text-align: left;
	}
	.site-header {
		padding: 10px 0 !important;
	}
	.tit-icon{
		width: 40%;
		display: inline-block;
	} 

}

@media screen and (max-width: 992px) {
	.page-view.content p {
		max-width: 100%
	}

}
@media screen and (min-width: 992px) {
    .col-md-padding-left-0{
	    padding-left:0 !important;
	}
	.col-md-padding-right-30{
	    padding-right:30px !important;
	}
}
@media screen and (max-width: 750px) {
	.container {
		overflow: hidden;
	}
	#main-menu {
		float: none;
		width: 100%;
		border-top: 1px solid #eee;
		font-size: 12px;
	}
	#main-menu .sub-menu {
		background-color: #F1F1F1;
		margin: 0 -15px;
		padding: 0 15px;
		font-size: 12px;
	}
	.navbar-nav>li {
		float: none
	}
	#main-menu .menu li {
		display: block;
	}
	#main-menu .menu li a {
		padding: 10px 0;
	}
	.navbar-toggle {
		margin-top: 7px;
		padding: 0;
		margin-right: 0;
	}
	.comment .children {
		padding-left: 0;
	}
	.page-header.huge .title{
		font-size: 20px;
		font-weight: 500
	}

}
