/*
Widget content
Video widget
Footer widget
RWD widget
*/


/*Widget content*/

.widget-content {
	padding: 0 20px 10px 20px;
}

.widget-right-content {
	padding: 10px 30px 0px 10px;
}

.widget-left-content {
	padding: 10px 5px 0px 40px;
}

.widget-content > .media-list {
	margin-top: 20px;
}

.widget-content + .related-content > .inner {
	padding-top: 0;
}

.related-content {
	border-top: 1px solid #ccc
}

.widget {
	background-color: #fff;
	margin-bottom: 30px;
	position: relative;
}

.widget > .inner {
	padding: 10px
}

.widget-header .title {
	line-height: 1;
	margin: 0;
	padding: 20px;
	font-size: 16px;
	border-top: 2px solid #51A8DD;
	border-bottom: solid 1px #eee;
	text-transform: uppercase;
}

.widget-thumbnail {
	position: relative;
}

/*Video widget*/

.hover-thumbnail {
	position: relative;
}

.hover-thumbnail > .media-object {
	background-color: #000
}

.hover-thumbnail::after {
	width: 14px;
	height: 14px;
	position: absolute;
	z-index: 10;
	color: #fff;
	left: 20px;
	top: 20px;
	font-size: 2rem;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.video-box::after {
	content: "\f04b";
}

.hover-thumbnail img {
	--ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity80)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: .8;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.hover-thumbnail:hover img {
	--ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}

.video-wrapper {
	position: relative;
	padding-bottom: 62.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper video,
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*Footer content*/

.footer-widget {
	background-color:transparent;
	font-size: 12px;
}

.footer-widget .widget-header .title {
	border-top: none;
}

/*RWD widget*/

@media screen and (max-width: 1200px) {
	.widget-thumbnail-right-content,
	.widget-thumbnail-left-content {
		padding-right: 10px;
	}
	.widget-left-content,
	.widget-right-content {
		padding: 10px 35px 10px 35px;
	}
}
